.login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-login {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(7, 14, 8, 0.13);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.452);
}

.user-date-login {
  width: 250px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  margin-bottom: 16px;
  height: 20px;
}

.login-btns {
  text-align: center;
  display: flex;
  justify-content: space-around;

}

.login-btn-entrar {
  width: 60px;
}

.user-not-found {
  margin: auto;
  color: red;
}