.card-products {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 20%;
}

.product-image {
  height: 180px;
}

.quantity-input-area {
  margin: auto;
  margin-bottom: 3%;
  text-align: center;
}

.btn-add {
  background-color: rgb(10, 187, 10);
  border: none;
  border-radius: 8px 0.1px 0.1px 8px;
  height: 30px;
  width: 30px;
}

.input-quantity {
  height: 26px;
  padding: 0;
  width: 50px;
}

.btn-rm {
  background-color: rgb(243, 64, 64);
  border: none;
  border-radius: 0.1px 8px 8px 0.1px;
  height: 30px;
  width: 30px;
}

.card-products-price {
  display: flex;
}

.card-products-price > p {
  margin-left: 5px;
}
