.header-products {
  background-color: rgb(102, 235, 179);
  display: flex;
  justify-content: space-around;
  margin: 0.01px;
  padding: 20px;
}

.maus-pedidos-nav-bar {
  align-items: start;
  display: flex;
}
