@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap') ;

:root {

  --color-orange: rgb(255, 131, 3);

  --color-black: rgb(27, 26, 23);

  --color-brown: rgb(163, 87, 9);

  --color-white: rgb(253, 254, 251);

  --color-grew: rgb(149, 158, 158);

  --color-grew-dark: rgb(66, 70, 66);

  --color-red: rgb(255, 99, 99);

  --color-yellow: rgb(248, 180, 0);

  --color-green: rgb(78, 148, 79);

  --color-green-dark: rgb(64, 151, 67);

  --border-radius: 4px;

  --font-title: 18px;

  --font-subtitle: 14px;

  --font-text: 11px;

  --font-button: 14px;

  --font-family: 'Roboto' 'sans-serif';

  --text-color-white: rgb(255, 255, 255);

  --text-color-black: rgb(0, 0, 0);

  --background-color: rgb(235, 235, 235);
}
body{
  background-color: var(--color-orange);
}

.App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

button {
  cursor: pointer;
}

.App > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
